html {
  font-size: 10px; 
  font-family: "Rubik", sans-serif; 
  background-color: #CBDEA2;
}

h1 {
  font-size: 60px;
  font-family: "Rubik Mono One", sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #0A1838;
  text-shadow: 3px 3px 1px black;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
